@{
    ViewData["Title"] = "Teacher panel";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

@model Plan.ViewModels.ListChangesWorkPlanViewModel

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

<link href="~/css/sb-admin-2.min.css" rel="stylesheet">
<link href="~/css/Style.css" rel="stylesheet">
<link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .sizeText {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11pt;
    }

    .sizeTextSmall {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10pt;
    }

    .colorBtn {
        background: #4e73df;
    }

    .btn-primary {
        width: 100%;
        color: var(--button-color);
        background-color: var(--button-background-color);
        border-radius: var(--border-radius);
        color: #ffffff;
    }

        .btn-primary:hover {
            width: 100%;
            box-shadow: inset 0 0 0 20rem var(--darken-1);
        }

    .btn-success1 {
        width: 100%;
        background-color: lawngreen;
        color: #ffffff;
    }

        .btn-success1:hover {
            width: 100%;
            background-color: lightslategray;
        }

    .btn-warning1 {
        width: 100%;
        background: #4e73df;
        color: white;
    }

        .btn-warning1:hover {
            width: 100%;
            background-color: lightslategray;
        }

    .tableSize {
        table-layout: fixed;
        width: 100%;
    }



    .verticalText {
        margin-left: -8px;
        display: inline-block;
        font-size: 15px;
        writing-mode: vertical-lr;
        -ms-writing-mode: bt-lr;
        transform-origin: center;
        transform: rotate(180deg);
        padding-top: 2mm;
        padding-bottom: 3mm;
    }

    button {
        border: 0px;
    }

    p {
        margin-bottom: 0px;
    }
</style>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <table class="tableSize table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
                       aria-describedby="dataTable_info" style="width: 100%;">

                    <tr>
                        <th colspan="1" rowspan="2">№</th>
                        <th colspan="10" rowspan="1">Зміни у плані роботи</th>
                    </tr>
                    <tr>
                        <th colspan="5" rowspan="1">Вид зміни</th>
                        <th colspan="3" rowspan="1">Зміна у навант. (в годинах)</th>
                        <th colspan="2" rowspan="1">Причина зміни</th>
                    </tr>
                    <tbody>
                        @foreach (var item in Model.listChangesWorkPlan)
                        {
                            <tr role="row" class="odd">
                                <td colspan="1">@(Model.listChangesWorkPlan.IndexOf(item) + 1)</td>
                                <td colspan="5">@item.NameChangesWorkPlan</td>
                                <td colspan="3">@item.CountReason</td>
                                <td colspan="2">@item.ReasonChanges</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/js/sb-admin-2.min.js"></script>
<script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="~/js/demo/datatables-demo.js"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
